/** Import Bootstrap functions */
@import '~bootstrap/scss/functions';

$colby-blue: #002878;
$navbar-text-color: #fff;

$theme-colors: (
    primary: $colby-blue,
);

$font-family-base: franklin-gothic-urw, sans-serif !default;

/* Navbar */
$navbar-dark-color: $navbar-text-color !default;
$navbar-dark-toggler-border-color: $navbar-text-color !default;
$dropdown-color: $colby-blue !default;
$dropdown-link-hover-color: $colby-blue !default;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
