section.page-header {
    &:after {
        content: '';
        height: 100px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    > div {
        z-index: 1;
    }
}
